<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %} {% endblock title %}
</head>
<body>
	<header>
		<a href="{{ url_for('site.home') }}">home</a>
		<a href="{{ url_for('site.compras') }}">Compras</a>
		<a href="{{ url_for('site.profile') }}">perfil</a>
		{% if user.rank %}
			<a href="{{ url_for('site.producto') }}">Producto</a>
			<a href="{{ url_for('site.manage_user') }}">manage_user</a>
		{% endif %}
			
	</header>
	{% block content %}{% endblock content %}
	
	<footer>
		<h1>Propiedad del papayaso</h1>
	</footer>

</body>
</html>