{% extends "baseApp.html" %}

{% block title %} 
	<title>Productos</title>
{% endblock title %}

{% block content %} 
	<h1>Welcome to prodcutos</h1>
		<form action="{{ url_for('site.producto') }}" method="post">
		{{ form.hidden_tag() }}
		{{ form.nombre.label }}
		{{ form.nombre }}
		{{ form.calidad.label }}
		{{ form.calidad }}
		{{ form.precio.label }}
		{{ form.precio }}
		{{ form.submit }}
	</form>
	
	<table>
		<tr>
			<th>nombre</th>
			<th>calidad</th>
			<th>precio</th>
		</tr>
		{% for prod in productos %}
			<tr>
				<td>{{ prod.nombre }}</td>
				<td>{{ prod.calidad }}</td>
				<td>{{ prod.precio }}</td>

			</tr>
		{% endfor %}
			
	</table>
{% endblock content %}


	